.about {
    background-color: #fff;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;

        @media screen and (max-width: $breakpoint-sp) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__img {
        flex: 1;

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        }
    }

    &__text {
        flex: 1;
    }

    &__sub {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
        position: relative;
        padding-bottom: 15px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            height: 2px;
            background-color: #333;
        }
    }
}