.about {
    position: relative;
    z-index: 10; // Ensure it overlaps MV
    margin-top: -70px; // Pull up to overlap MV
    background-image: url(../images/about_bg.png);
    background-repeat: no-repeat;
    background-size: cover; // Cover the text area fully
    background-position: center top;
    padding: 140px 0 140px; // Increased top padding to account for overlap and wave height
    width: 100%;

    @media screen and (max-width: $breakpoint-sp) {
        background-image: url(../images/about_bg--sp.png);
        // If the wave shape is different or simpler, we might adjust padding/margin too, but keeping it simple first.
        padding: 60px 0; // Standardized SP padding
        margin-top: -70px; // Less overlap
    }

    &__inner {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__text {
        font-size: 24px;
        line-height: 2.0;
        text-align: center;
        margin-bottom: 60px;
        font-weight: 500;
        letter-spacing: 0.05em;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 16px;
            margin-bottom: 40px;
            text-align: center;
        }
    }
}