.difference {
    position: relative;
    width: 100%;
    background-image: url(../images/difference-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0 120px;

    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;

        @media screen and (max-width: $breakpoint-sp) {
            padding: 0 20px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 100px;

        @media screen and (max-width: $breakpoint-sp) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__col {
        width: 40%; // Adjust as needed
        text-align: center;

        &--general {
            width: 35%;
        }

        &--gcg {
            width: 46%;
        }

        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;

            &--general,
            &--gcg {
                width: 100%;
            }
        }
    }

    &__col-title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .difference__col-logo {
            height: auto;
            width: 166px;
        }
    }

    &__col--gcg &__col-title {
        font-size: 45px;
        margin-top: 0;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
        display: inline-block;
        font-size: 28px;
        line-height: 2.0;
        font-weight: 500;

        li {
            margin-bottom: 10px;
            text-align: center;
        }
    }

    &__arrow {
        width: 60px;
        flex-shrink: 0;

        img {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: $breakpoint-sp) {
            transform: rotate(90deg); // Point down on mobile
            width: 40px;
        }
    }

    &__gcg-box {
        background-image: url(../images/diggerence-text-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%; // Stretch to fit content? Or cover?
        // Since it's a specific shape, stretching might distort corners.
        // If it's a white box image, `100% 100%` is likely intended if the ratio matches.
        background-position: center;
        padding: 40px 40px;
        border-radius: 30px; // Fallback or if image has transparent corners
        min-height: 300px; // Ensure size
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__deco {
        position: absolute;
        bottom: -50px;
        left: -20%;
        width: 300px;
        z-index: 1;

        @media screen and (max-width: $breakpoint-sp) {
            width: 150px;
            bottom: -30px;
        }
    }
}