.domain {
    width: 100%;
    padding: 100px 0;
    position: relative;
    background-color: #fff;

    @media screen and (max-width: $breakpoint-sp) {
        background-image: url(../images/domain-bg--sp.png);
        background-repeat: no-repeat;
        background-size: 120%;
        background-color: transparent;
        margin-top: -100px;
        position: relative;
        z-index: 10;
        background-position: top center;
        padding: 120px 0 0 0; // Standardized SP padding
    }

    &__inner {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 40px;
        position: relative;

        @media screen and (max-width: $breakpoint-sp) {
            padding: 0;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 40px;

        @media screen and (max-width: $breakpoint-sp) {
            margin-bottom: 30px;
            flex-direction: column;
        }
    }

    &__title {
        position: relative;
        z-index: 2;
    }

    &__illust {
        position: absolute;
        top: 35%;
        right: 0%; // More right
        width: 30%;
        max-width: 525px;
        z-index: 1;

        @media screen and (max-width: $breakpoint-sp) {
            position: relative;
            top: auto;
            right: auto;
            width: 80%;
            display: none;
            margin: -20px auto 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__intro {
        text-align: center;
        margin-bottom: 100px;
        position: relative; // Ensure z-index works if needed
        z-index: 2;

        @media screen and (max-width: $breakpoint-sp) {
            margin-bottom: 40px;
        }
    }

    &__desc {
        font-size: 24px;
        line-height: 2;
        font-weight: 500;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 20px;
            text-align: center;
        }
    }

    &__deco-text {
        position: absolute;
        top: 30%;
        left: -20%;
        z-index: 0;

        img {
            max-width: 400px;
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: $breakpoint-sp) {
            position: relative;
            top: auto;
            display: none;
            left: auto;
            text-align: center;
            margin-bottom: 40px;

            img {
                width: 60%;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media screen and (max-width: $breakpoint-sp) {
            display: none;
        }
    }

    &__sp-image {
        width: 100%;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        @media screen and (max-width: $breakpoint-sp) {
            // ensure it's displayed if u-sp-only handles visibility, but here we can ensure layout
            display: block;
            width: 100%;
        }
    }

    &__item {
        width: 23%; // 4 items in row
        text-align: center;
        position: relative;

        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;
            display: flex;
            justify-content: center; // Center the item if it has max-width

            &:nth-child(n+2) {
                margin-top: -180px;
            }
        }
    }

    &__img {
        margin-bottom: 20px;

        img {
            width: 100%;
            height: auto;
            display: block; // Remove inline gap
        }

        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;
            margin-bottom: 0; // Text is absolute/hidden
            overflow: hidden;

            img {
                width: 115%; // Wider than container
                max-width: 200%;
                margin-left: 50%;
                transform: translateX(-50%);
                display: block;
            }
        }
    }

    &__item-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #333;

        @media screen and (max-width: $breakpoint-sp) {
            display: none;
        }
    }

    &__item-ja {
        font-size: 20px;
        font-weight: 500;

        &::after {
            content: "/";
            margin-left: 10px;
        }

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 18px; // Adjust for mobile fit
        }
    }

    &__item-en {
        font-size: 20px;
        font-weight: 500;
        font-family: $font-family-base; // Or specific EN font?
        letter-spacing: 0.05em;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 14px; // Check fit
        }
    }
}