/* Footer */
.footer {
    width: 100%;
    color: #fff;
    font-family: $font-family-base;

    &__top {
        background-color: #7d7d7d;
        /* Adjust based on design image */
        padding: 60px 0;

        @media screen and (max-width: $breakpoint-sp) {
            padding: 40px 0;
        }
    }

    &__inner {
        max-width: 960px;
        /* User request: 960px */
        margin: 0 auto;
        padding: 0 20px;
    }

    &__title {
        font-size: 40px;
        text-align: center;
        letter-spacing: 0.2em;
        margin-bottom: 60px;
        font-weight: 500;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 32px;
            margin-bottom: 40px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 60px;
        /* Adjusted gap for 960px container */

        @media screen and (max-width: $breakpoint-sp) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__col {
        width: 45%;
        /* Fallback */

        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;
            text-align: center;
        }

        &:first-child {
            width: auto;
            flex: 1;
            /* Take remaining space */
        }

        &:last-child {
            width: 400px;
            /* Fixed width for logo column */
            flex-shrink: 0;

            @media screen and (max-width: $breakpoint-sp) {
                width: 100%;
            }

            .footer__sub-title {
                text-align: center;
            }
        }
    }

    &__sub-title {
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: 500;
        letter-spacing: 0.05em;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 16px;
        }
    }

    &__place-name {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 24px;
        }
    }

    &__address {
        font-size: 20px;
        line-height: 1.8;
        font-weight: 500;
        margin-bottom: 20px;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 16px;
            text-align: left;
        }
    }

    &__company-logo {
        margin-bottom: 20px;
        background: #fff;
        padding: 15px 30px;
        display: inline-block;
        width: 400px;

        /* User request: 400px */
        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;
        }

        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }

    &__privacy {
        display: inline-block;
        font-size: 13px;
        color: #fff;
        text-decoration: none;
        margin-top: 10px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__bottom {
        background-color: #fff;
        padding: 30px 0;
        text-align: center;

        &-logo {
            width: 200px;
            margin: 0 auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}