.mv {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    overflow: hidden;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/mv_bg.jpg'); // Placeholder
        background-size: cover;
        background-position: center;
        z-index: 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.3); // Overlay
        }
    }

    &__content {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    &__title {
        font-size: 80px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.02em;
        margin: 0 0 24px;
        color: #333;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 40px;
        }
    }

    &__lead {
        font-size: 24px;
        font-weight: 400;
        color: #666;
        margin: 0;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 16px;
        }
    }
}