.mv {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;

    &__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        min-width: 1280px; // Prevent overlap on narrow width
        min-height: 800px; // Prevent overlap on short height
        z-index: 0;

        @media screen and (max-width: $breakpoint-sp) {
            min-width: 100%;
            min-height: 100%;
        }

        .mv__base-bg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            opacity: 1; // Or 0.8 if desired
        }
    }

    &__img {
        position: absolute;
        opacity: 0;
        // Common animation properties
        animation-duration: 1.0s;
        animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
        animation-fill-mode: forwards;

        &--01 {
            top: -90px;
            left: -6%;
            width: 35%; // Reduced from 33%
            // max-width: 514px; // Removed to allow scaling
            animation-name: slideInTopLeft;
            animation-delay: 0.2s;

            @media screen and (max-width: $breakpoint-sp) {
                width: 60%;
                left: -10%;
                top: -5%;
            }
        }

        &--03 {
            bottom: 0;
            left: 0;
            width: 36%; // Reduced from 45%
            // max-width: 830px; // Removed to allow scaling
            animation-name: slideInBottomLeft;
            animation-delay: 0.4s;

            @media screen and (max-width: $breakpoint-sp) {
                width: 128%;
                left: 50%;
                margin-left: -64%; // Centering a 128% wide element
                max-width: none;
                bottom: 5%;
            }
        }

        &--04 {
            top: -120px;
            right: -5%; // Push further right (partially cut off is distinct)
            width: 35%; // Adjusted for better visibility
            max-width: 450px;
            animation-name: slideInTopRight;
            animation-delay: 0.6s;

            @media screen and (max-width: $breakpoint-sp) {
                width: 50%;
                right: -10%;
                top: -5%;
                max-width: none;
            }
        }

        &--05 {
            top: 50%;
            right: -30px;
            transform: translateY(-50%);
            width: 13%; // Reduced from 8.5%
            max-width: 130px;
            animation-name: slideInRight;
            animation-delay: 0.8s;

            @media screen and (max-width: $breakpoint-sp) {
                // Secondary decoration, maybe hide or position freely
                width: 68px;
                right: 0;
                top: 50%;
            }
        }

        &--02 {
            bottom: 13%;
            left: 6%; // Slightly offset to separate/layer
            width: 20%; // Reduced from 25.7%
            max-width: 330px;
            z-index: 2; // Ensure it's above 03
            animation-name: slideInBottomLeft;
            animation-delay: 0.5s;

            @media screen and (max-width: $breakpoint-sp) {
                // Adjust position to not overlap text
                width: 205px;
                left: 0;
                bottom: 7%;
            }
        }

        &--06 {
            bottom: 10%;
            right: 0;
            width: 24%; // Reduced from 30.2%
            max-width: 460px;
            animation-name: slideInBottomRight;
            animation-delay: 0.9s;
            // Overlap with 05 (Right Center) will happen naturally as this is Bottom Right

            @media screen and (max-width: $breakpoint-sp) {
                width: 265px;
                right: -5%;
                bottom: 25%;
            }
        }
    }

    &__intro {
        position: absolute;
        bottom: 7%;
        right: 24%;
        /* margin-right: -450px; - Removed to align left of image */
        /* Adjust based on layout */
        width: 387px;
        height: 207px;
        background: url(../images/mv-intro-bg.png) no-repeat center center / contain;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        animation: mvFadeIn 1s ease-out forwards;
        animation-delay: 1.4s;

        &-list {
            list-style: none;
            font-size: 20px;
            margin-right: 10px;
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: -0.05em;
            color: #333;
            font-family: "Kiwi Maru", serif;
        }

        @media screen and (max-width: $breakpoint-sp) {
            display: none; // Hide on SP as per design image
        }
    }

    @keyframes slideInTopLeft {
        0% {
            opacity: 0;
            transform: translate(-100%, -100%);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes slideInBottomLeft {
        0% {
            opacity: 0;
            transform: translate(-100%, 100%);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes slideInTopRight {
        0% {
            opacity: 0;
            transform: translate(100%, -100%);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }

    @keyframes slideInRight {
        0% {
            opacity: 0;
            transform: translate(100%, -50%);
        }

        100% {
            opacity: 1;
            transform: translate(0, -50%);
        }
    }

    @keyframes slideInBottomRight {
        0% {
            opacity: 0;
            transform: translate(100%, 100%);
        }

        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }


    &__content {
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: $layout-width-inner;
        padding: 0 20px;
        display: flex;
        flex-direction: column; // Stack logo and tagline
        justify-content: center;
        align-items: center;
        transform: translateY(-60px); // Shift up by 60px as requested

        @media screen and (max-width: $breakpoint-sp) {
            transform: translateY(-140px); // Adjust for SP
        }
    }

    &__tagline {
        font-size: clamp(20px, 2.5vw, 32px); // Fluid typography
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
        margin-bottom: 30px;
        line-height: 1.8;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 16px; // Matching design small text
            margin-bottom: 15px;
            white-space: nowrap; // Ensure single lines if possible or broken naturally
        }
    }

    &__logo {
        width: 35%; // Reduced from 44%
        max-width: 500px; // Reduced from 670px

        @media screen and (max-width: $breakpoint-sp) {
            width: 265px; // Larger relative on SP
            max-width: 250px;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    &__static-logo {
        position: absolute;
        top: 60px;
        left: 60px;
        z-index: 10;

        img {
            width: 200px;
            height: auto;
        }

        @media screen and (max-width: $breakpoint-sp) {
            top: 20px;
            left: 20px;
            filter: brightness(0) invert(1); // Make white

            img {
                width: 80px;
            }
        }
    }
}

// Relocated Intro for SP
.mv__intro-sp {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 0px; // Spacing after about
    display: flex;
    justify-content: center;
    margin-top: -80px;

    &-inner {
        width: 335px;
        height: 207px; // Aspect ratio of mv-intro-bg.png ~ 1.87 (387/207) or similar? 
        // Original PC: 387x207. 387/207 = ~1.87
        // 280 / ? = 1.87 => ? = 150
        background: url(../images/mv-intro-bg.png) no-repeat center center / contain;
        display: flex;
        justify-content: center;
        margin: 0px auto 0 auto;
        align-items: center;
        position: relative;
        z-index: 10;
        padding-bottom: 6px; // Adjust for visual centering
    }

    .mv__intro-list {
        font-family: "Kiwi Maru", serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.6;
        letter-spacing: -0.05em;
        color: #333;
        list-style: none;
        padding: 0;
        margin-top: 30px;
        margin-right: 10px; // Similar offset to PC if needed
    }
}