.vision {
    position: relative;
    width: 100%;

    &__top {
        background-image: url(../images/vision-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 150px 0 100px;
        width: 100%;
    }

    &__inner {
        max-width: 1420px;
        margin: 0 auto;
        padding: 0 40px;

        @media screen and (max-width: $breakpoint-sp) {
            padding: 0 20px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        @media screen and (max-width: $breakpoint-sp) {
            flex-direction: column;
            gap: 40px;
        }
    }

    &__img {
        width: 54%; // Approx 768px / 1420px
        max-width: 768px;
        flex-shrink: 0;
        margin-left: -5%; // Reduced stick out to fit
    }



    &__text {
        width: 50%;
        font-size: clamp(14px, 1.7vw, 24px);
        line-height: 2.0;
        text-align: center;
        font-weight: 500;

        p {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 18px;
            text-align: center; // Center text on mobile often looks better, or keep left if strict

            br {
                display: none; // Disable manual breaks on mobile if they break awkward
            }
        }
    }

    &__row--2 {
        display: flex;
        align-items: center; // Vertically center
        justify-content: space-between;
        max-width: 1080px; // User request
        margin: 60px auto 0;
        position: relative; // Keep for safety

        @media screen and (max-width: $breakpoint-sp) {
            flex-direction: column-reverse;
            margin-top: 80px;
            align-items: flex-start;
        }
    }

    &__text--green {
        text-align: left;
        width: 60%; // User request
        position: relative;
        z-index: 2; // Text on top

        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;
        }
    }

    &__desc {
        font-size: clamp(14px, 2vw, 20px);
        line-height: 1.8;

        p {
            margin-bottom: 24px;
        }
    }

    &__img--right {
        // Remove absolute positioning
        position: relative;
        width: 48%; // User request
        max-width: none;
        flex-shrink: 0; // Prevent shrinking
        margin-left: -260px; // Force overlap (approx 670 + 60% of 1080 - 1080)
        z-index: 1;

        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;
            margin-left: 0;
            margin-bottom: 30px;
        }
    }

    &__caption {
        font-size: 11px;
        color: #666;
        margin-top: 10px;
        line-height: 1.4;
        text-align: right;
        display: inline-block;
    }

    &__bottom-img {
        margin-top: 60px;
        text-align: left;
        width: 740px; // User request
        max-width: none; // Allow stick out

        img {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;
            margin-top: 40px;
            max-width: 100%;
        }
    }
}