.vision {
    position: relative;
    width: 100%;

    &__top {
        background-image: url(../images/vision-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 150px 0 180px;
        width: 100%;
        position: relative; // Added for positioning context

        @media screen and (max-width: $breakpoint-sp) {
            background-image: url(../images/vision-bg--sp.png);
            padding: 60px 0;
            margin-bottom: 260px;
        }
    }

    &__inner {
        max-width: 1420px;
        margin: 0 auto;
        padding: 0 40px;

        @media screen and (max-width: $breakpoint-sp) {
            padding: 0 20px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        @media screen and (max-width: $breakpoint-sp) {
            flex-direction: column;
            gap: 40px;
            width: 100%;
        }
    }

    &__img {
        width: 54%; // Approx 768px / 1420px
        max-width: 768px;
        flex-shrink: 0;
        margin-left: -5%; // Reduced stick out to fit

        @media screen and (max-width: $breakpoint-sp) {
            position: absolute;
            bottom: -30%; // Stick out
            right: 15%; // Align right or left? Assuming right for balance or left? 
            // Usually if it was left before (-5%), maybe left?
            // "最下層" -> Bottom layer.
            // Let's try right: 0; width: 80%? or keeping 54%?
            // I'll set width: 60%; right: 0; z-index: 10;
            // And remove margin-left.
            width: 100%; // Make it visible
            max-width: none;
            margin-left: 0;
            z-index: 10; // Ensure visible? or -1? "最下層" might mean z-index -1.
            // But if it's an image content, usually it should be seen.
            // "visionの最下層" -> "Bottom of Vision section".
            // I'll play safe with z-index positive but below modal navigations (which are 2000+).
        }
    }



    &__text {
        width: 50%;
        font-size: clamp(14px, 1.7vw, 24px);
        line-height: 2.0;
        text-align: center;
        font-weight: 500;

        p {
            margin-bottom: 40px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 18px;
            width: 100%;
            text-align: center; // Center text on mobile often looks better, or keep left if strict

            br {
                display: none; // Disable manual breaks on mobile if they break awkward
            }
        }
    }

    &__row--2 {
        display: flex;
        align-items: center; // Vertically center
        justify-content: space-between;
        max-width: 1080px; // User request
        margin: 100px auto 0;
        position: relative; // Keep for safety

        @media screen and (max-width: $breakpoint-sp) {
            flex-direction: column-reverse;
            margin-top: 80px;
            align-items: flex-start;
            gap: 0;
        }
    }

    &__text--green {
        text-align: left;
        width: 70%; // User request
        position: relative;
        z-index: 2; // Text on top

        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;
        }
    }

    &__sub-title {
        color: #009944;
        font-size: 26px;
        font-weight: 700;
        margin-bottom: 30px;
        line-height: 1.5;

        @media screen and (max-width: $breakpoint-sp) {
            font-size: 22px;
            text-align: center;
        }
    }

    &__desc {
        font-size: clamp(16px, 2vw, 20px);
        line-height: 1.8;

        @media screen and (max-width: $breakpoint-sp) {
            width: 74.7%;
            margin: 0 auto;
        }

        p {
            margin-bottom: 24px;
        }
    }

    &__img--right {
        // Remove absolute positioning
        position: absolute;
        width: 44%; // User request
        max-width: none;
        flex-shrink: 0; // Prevent shrinking
        margin-left: -260px; // Force overlap (approx 670 + 60% of 1080 - 1080)
        z-index: 1;
        right: -10%;
        top: -7%;

        @media screen and (max-width: $breakpoint-sp) {
            position: relative; // Reset absolute
            top: auto;
            right: auto;
            width: 100%;
            margin-left: 0;
            margin-top: -70px;
            margin-bottom: 30px;
        }
    }

    &__caption {
        font-size: 11px;
        color: #666;
        margin-top: 10px;
        line-height: 1.4;
        text-align: right;
        display: inline-block;
    }

    &__bottom-img {
        margin-top: 40px;
        text-align: left;
        width: 740px; // User request
        max-width: none; // Allow stick out

        img {
            width: 100%;
            height: auto;
        }

        @media screen and (max-width: $breakpoint-sp) {
            width: 100%;
            margin-top: 40px;
            overflow: hidden;
            max-width: 100%;

            // Correct nesting
            img {
                width: 120%;
                max-width: 200%;
                margin-left: 50%;
                transform: translateX(-50%);
                display: block;
            }
        }
    }
}